:root {
  --default-font: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
a,
li,
label,
input,
button,
textarea {
  font-family: "IBM Plex Sans Thai Looped", var(--default-font);
}

pre {
  white-space: pre-wrap;
}

.icon {
  width: 24px;
  height: 24px;
}

.page-layouts {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  min-height: 100vh;
}

.page-container {
  @apply flex flex-col gap-16;
}